/* Place CSS styles here */
* {
    box-sizing: border-box;
}

h1 {
    margin: 0;
    font-size: 28px;
}

.skip-to-main-content-link {
    position: absolute;
    display: inline-block;
    width: 100%;
    left: -9999px;
    z-index: 999;
    padding: 1em;
    background-color: black;
    color: white;
    opacity: 0;
}

.skip-to-main-content-link:focus {
    position: static;
    opacity: 1;
}

body {
    color: black;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

section {
    padding: 1rem 2rem;
}

@media (min-width: 768px) {
    body {
        font-size: 1rem
    }

    section {
        padding: 2rem 8rem;
    }

    h1 {
        font-size: 1.5rem;
    }
}



/*Header*/

header {
    background-color: #9A031E;
    color: white;
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 0 4px 4px #00000040;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
}

.desktop-nav {
    display: none;
}

@media (min-width: 768px) {
    .desktop-nav {
        display: flex;
    }
}

.desktop-nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

.desktop-nav a:hover {
    background-color: #00000010;
}

.offcanvas-nav {
    position: relative; /* To position the menu within */
}
  
.menu {
    position: fixed; /* Fixed position for overlay effect */
    top: 30px;
    right: 0;
    height: 100%;
    width: 250px; /* Adjust width as needed */
    background-color: #9A031E;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    transform: translateX(100%); /* Initially slide out to the left */
    transition: transform 0.3s ease; /* Smooth transition */
    
    display: block;
    list-style-type: none;
    padding: 0;
}

.menu li {
    padding: 24px;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    
}

.menu.expanded {
    transform: translateX(0); /* Slide in when expanded */
}
  
.menu-toggle {
    background-color: transparent;
    border: unset;
}
  
@media (min-width: 768px) {
    .offcanvas-nav {
      display: none; /* Show the full navigation on larger screens */
    }
    
    .menu {
      display: block; /* Ensure menu is visible on larger screens */
      position: static; /* Remove fixed positioning */
      width: auto;
      transform: none; /* No need for transitions */
      box-shadow: none;
    }
    
    .menu-toggle {
      display: none; /* Hide the toggle button on larger screens */
    }
  }  

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    gap: 8px;
}

.logo-img {
    width: 24px;
    height: fit-content;
    display: inline-flex;
}

.logo-txt {
    display: inline-flex;
}

.logo-txt-new {
    display: inline-flex;
    color: red;
}



/*Hero*/

.hero {
    background-image: url(../img/coffeeBG.gif);
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    padding: 0;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position-y: bottom;
}

.hero-box {
    background-color: #ffffffb0;
    backdrop-filter: blur(8px);
    color: black;
    margin: 2rem 0;
    padding: 2rem;
    width: 80%;
    max-width: 700px;
    display: inline-flex;
    border-radius: 20px;   
    box-shadow: 0 0 4px 4px #00000040; 
    gap: 1em;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .hero-box {
        display: inline-flex;
        flex-direction: row;
        width: 60%;
    }
}

.hero-box-img {
    width: 50%;
    height: min-content;
}

.hero-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-description p {
    text-align: center;
}

.hero-description h1 {
    text-align: center;
}

.hero-link {
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
    padding: 12px 16px;
    border-radius: 999px;
    background-color: #E36414;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

.hero-link:hover {
    background-color: #be591a;
}

@media (min-width: 768px) {
    .hero-link {
        font-size: .75rem;
    }
}



/*Product Section*/

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 28px 0;
}

.products h1 {
    margin: 1.5rem 0;
    display: flex;
}

.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px,1fr));
    gap: 16px;
}

@media (min-width: 1218px) {
    .item-grid {
        max-width: 1000px;
    }
}

.item {
    overflow: hidden;
}

.item img {
    min-width: 180px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.item-info a {
    display: flex;
    gap: 8px;
    width: fit-content;
    text-decoration: none;
    color: dimgray;
}

.item-info a:hover {
    text-decoration: underline;
}

.item-info a p {
    margin: 8px 0;
}



/*Contact*/

.contact {
    background-image: url(../img/mike-kenneally-TD4DBagg2wE-unsplash.jpg);
    width: 100%;
    height: fit-content;
    background-size: 100% auto;
    display: flex;
    justify-content: center;
    padding: 0;
}

.contact-box {
    background-color: #ffffffb0;
    backdrop-filter: blur(8px);
    color: black;
    margin: 2rem 0;
    padding: 2rem;
    width: 60%;
    max-width: 700px;
    display: inline-flex;
    border-radius: 20px;   
    box-shadow: 0 0 4px 4px #00000040; 
    gap: 1em;
}

@media (max-width: 768px) {
    .contact-box {
        flex-direction: column;
        width: 80%;
    }
}

.name {
    display: flex;
    flex-direction: row;
    gap: .5em;
} 

.contact-description {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.contact-description p {
    width: 100%;
}

.contact-form {
    flex: 1;
}

label {
    font-size: .75em;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contact-form form div:not(.contact-form-buttons, .name) {
    display: flex;
    flex-direction: column;
    gap: .2em;
}

.contact-form-input {
    width: 100%;
}

.contact-form-input input {
    padding: 4px;
    width: 100%;
}

.contact-form-input input, select {
    background-color: #ffffff77;
}

.required-legend {
    color: #505050;
    font-size: 0.75em;
    font-style: italic;
    margin: 0;
}

.contact-form-buttons {
    display: flex;
    width: 100%;
    gap: 16px;
}

.contact-form-buttons input, .contact-form-buttons button {
    flex: 1;
    display: inline-block;
    margin-top: 1rem;
    border-radius: 999px;
    font-size: 1rem;
    font-weight: 600;
    border: unset;
    padding: 12px 16px;
}

@media (min-width: 768px) {
    .contact-form-buttons input, .contact-form-buttons button {
        font-size: .75rem;
    }
}

.contact-form-buttons input {
    background-color: unset;
}

.contact-form-buttons input:hover {
    background-color: #ffffff77;
}

.contact-form-buttons button {
    background-color: #E36414;
    color: white;
}

.contact-form-buttons button:hover {
    background-color: #be591a;
}

.contact-form input:not([type="reset"]), .contact-form select {
    display: block;
    width: 100%;
    height: 1.8em;
    border-radius: 8px;
    border: .5px solid #505050;
}